body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/background.jpg');
}

.app__card {
  width: 40%;
  height: 30%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255, 203, 203);
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app__button {
  padding: .7rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  transition: all .2s;
  outline: none;
}

.app__button:hover {
  transform: translateY(-.2rem);
}

.app__button:active {
  transform: translateY(0);
}

@media(max-width: 600px) {
  .app__card {
    width: 90%;
    height: 40%;
  }
}